
[submodule "src/RMCIOS-Labjack-module"]
	path = src/RMCIOS-Labjack-module
	url = https://github.com/fkorhone/RMCIOS-Labjack-module.git
[submodule "src/RMCIOS-NI-DAQmx-module"]
	path = src/RMCIOS-NI-DAQmx-module
	url = https://github.com/fkorhone/RMCIOS-NI-DAQmx-module.git
[submodule "src/RMCIOS-interface"]
	path = src/RMCIOS-interface
	url = https://github.com/fkorhone/RMCIOS-interface.git
